.rounded-avatar {
  ymlwebcl-avatar::part(webcl-avatar) {
    background-color: black;
  }
}
.parent-container {
  ymlwebcl-avatar::part(webcl-avatar) {
    background-color: black;
    color: white;

    span {
      font-weight: 600;
      font-size: 24px;
    }
  }
}
