.progress-bar-storybook-container {
  progress-bar-component {
    &::part(webcl-progress-bar-container) {
      background-color: #f2f2f2;
      height: 12px;
      border-radius: 10px;
      overflow: hidden;
    }
    &::part(webcl-progress-bar) {
      height: 100%;
      background-color: #000;
    }
  }
}
