.storybook-card-container {
  card-component {
    &::part(webcl-card-container) {
      border: 1px solid black;
    }
  }

  &.custom-header-variant {
    card-component {
      &::part(webcl-card-header) {
        font-size: 1.5rem;
      }
    }
  }

  &.all-slots-variant {
    card-component {
      &::part(webcl-card-container) {
        padding: 1rem;
      }

      &::part(webcl-card-header) {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin-top: 1.25rem;
      }
    }
  }
}